<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
<link href="../static/signup.css" rel="stylesheet">
    <style>
     /* Material Customization */
     html,body {
  margin: 0;
  height: 100%;
  background: url(https://wallpaper.dog/large/20389692.jpg) #f0f0f4;
  background-size: cover;
}

      </style><title>Signup</title>
  </head>
<body><center style="padding: 40px">
  <h1>Welcome!!!</h1>
    <div class="root">
      <div class="left">
        <form class="registration" method="post" action='http://127.0.0.1:5000/signup'>
          <h1 style="color: rgb(153, 23, 23);">Sign Up!</h1>
        
          <label class="pure-material-textfield-outlined">
             <input name="username" placeholder="User Name" type="text" required>
         
          </label>
        
          <label class="pure-material-textfield-outlined">
            <input name="email" placeholder="Email" type="email" required>
          
          </label>
           <label class="pure-material-textfield-outlined">
            <input name="password" placeholder="Password" type="password" required>
          
          </label>
           <label class="pure-material-textfield-outlined">
            <input name="roll_no" placeholder="Phone no" type="text" required>
          
          </label>
          
           <select name="sex" id="cars">
             <option value="nil">Sex</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
            
          </select>
           <input name="age" placeholder="Age" type="number" class="t5" required>
          
           <select name="blood_group" placeholder="Blood" name="blood_group">
             <option value="Nil">Blood</option>
            <option value="0">O</option>
             <option value="A">A</option>
             <option value="B">B</option>
              <option value="A-">A-</option>
              <option value="B-">B-</option>
             <option value="O-">O-</option>
              <option value="AB-">AB-</option>
             <option value="AB">AB</option>
             
            
          </select>
           <label class="pure-material-textfield-outlined">
            <input name="address" placeholder="Address" type="textarea" required>
          
          </label>
          
        
          
        
          <button class="pure-material-button-contained btn" type="submit">Sign Up</button>
        
       
        
      </form>
      </div>
    
    <div class="right">
      <div class="image">
      

      <Center><h3><b>Donate Blood & Save Lives</b></h3></Center>

      
       

    
    </div>

    <a href="/login">Revert to login</a>
    
  </div>
</div></center>
<script>
  window.watsonAssistantChatOptions = {
    integrationID: "45bd3710-4a8e-472f-a697-c5c4ad557f26", // The ID of this integration.
    region: "au-syd", // The region your integration is hosted in.
    serviceInstanceID: "fc35279c-db04-4a5a-828f-d392eb7be3d5", // The ID of your service instance.
    onLoad: function(instance) { instance.render(); }
  };
  setTimeout(function(){
    const t=document.createElement('script');
    t.src="https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
    document.head.appendChild(t);
  });
</script>
 </body>
</html>
